## Pandas

In [9]:
import pandas as pd
import numpy as np

In [5]:
pd.Series([1, 2, 3, 'parham'])

0         1
1         2
2         3
3    parham
dtype: object

In [7]:
pd.date_range("20240123", periods=6)

DatetimeIndex(['2024-01-23', '2024-01-24', '2024-01-25', '2024-01-26',
               '2024-01-27', '2024-01-28'],
              dtype='datetime64[ns]', freq='D')

In [11]:
dates = pd.date_range("20240123", periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates)
df

                   0         1         2         3
2024-01-23 -1.326163  0.537002  0.788263 -0.026536
2024-01-24  0.612729  0.538153 -0.501933 -0.957859
2024-01-25 -0.320501  0.754770  0.154235  0.860886
2024-01-26 -0.764268  0.145407 -0.351889 -2.509462
2024-01-27  0.880252  0.433392  0.895024 -0.096786
2024-01-28  3.137536  0.795450  1.701000  0.440136

In [15]:
dates = pd.date_range("20240123", periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2024-01-23 -1.371734 -0.199502 -0.009086  1.235649
2024-01-24  0.567163  0.265720 -0.085676  1.108451
2024-01-25 -0.818023  1.183095  2.153649 -0.167537
2024-01-26 -0.688619 -2.165838  1.276232 -1.975716
2024-01-27 -0.106537  0.394824  0.141892 -0.638468
2024-01-28 -1.415315  0.693857 -0.755891 -1.170347

In [16]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [17]:
df['A']

2024-01-23   -1.371734
2024-01-24    0.567163
2024-01-25   -0.818023
2024-01-26   -0.688619
2024-01-27   -0.106537
2024-01-28   -1.415315
Freq: D, Name: A, dtype: float64

In [18]:
df.head()

                   A         B         C         D
2024-01-23 -1.371734 -0.199502 -0.009086  1.235649
2024-01-24  0.567163  0.265720 -0.085676  1.108451
2024-01-25 -0.818023  1.183095  2.153649 -0.167537
2024-01-26 -0.688619 -2.165838  1.276232 -1.975716
2024-01-27 -0.106537  0.394824  0.141892 -0.638468

In [19]:
df.head(2)

                   A         B         C         D
2024-01-23 -1.371734 -0.199502 -0.009086  1.235649
2024-01-24  0.567163  0.265720 -0.085676  1.108451

In [20]:
df.tail()

                   A         B         C         D
2024-01-24  0.567163  0.265720 -0.085676  1.108451
2024-01-25 -0.818023  1.183095  2.153649 -0.167537
2024-01-26 -0.688619 -2.165838  1.276232 -1.975716
2024-01-27 -0.106537  0.394824  0.141892 -0.638468
2024-01-28 -1.415315  0.693857 -0.755891 -1.170347

In [21]:
df.tail(2)

                   A         B         C         D
2024-01-27 -0.106537  0.394824  0.141892 -0.638468
2024-01-28 -1.415315  0.693857 -0.755891 -1.170347

In [22]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.638844  0.028693  0.453520 -0.267995
std    0.763207  1.169047  1.061303  1.267552
min   -1.415315 -2.165838 -0.755891 -1.975716
25%   -1.233306 -0.083196 -0.066529 -1.037377
50%   -0.753321  0.330272  0.066403 -0.403003
75%   -0.252057  0.619099  0.992647  0.789454
max    0.567163  1.183095  2.153649  1.235649

In [23]:
df['A'].describe()

count    6.000000
mean    -0.638844
std      0.763207
min     -1.415315
25%     -1.233306
50%     -0.753321
75%     -0.252057
max      0.567163
Name: A, dtype: float64

In [24]:
df.mean()

A   -0.638844
B    0.028693
C    0.453520
D   -0.267995
dtype: float64

In [25]:
df['A'].mean()

-0.6388441010272609

In [28]:
df[0:2].mean()

A   -0.402286
B    0.033109
C   -0.047381
D    1.172050
dtype: float64

In [37]:
print('df :\n\r', df, end='\n--------------\n\n\n')
print('df["A"] :\n', df['A'], end='\n----------------\n\n\n')
print('df[:2] :\n', df[:2], end='\n----------------\n\n\n')

df :
                    A         B         C         D
2024-01-23 -1.371734 -0.199502 -0.009086  1.235649
2024-01-24  0.567163  0.265720 -0.085676  1.108451
2024-01-25 -0.818023  1.183095  2.153649 -0.167537
2024-01-26 -0.688619 -2.165838  1.276232 -1.975716
2024-01-27 -0.106537  0.394824  0.141892 -0.638468
2024-01-28 -1.415315  0.693857 -0.755891 -1.170347
--------------


df["A"] :
 2024-01-23   -1.371734
2024-01-24    0.567163
2024-01-25   -0.818023
2024-01-26   -0.688619
2024-01-27   -0.106537
2024-01-28   -1.415315
Freq: D, Name: A, dtype: float64
----------------


df[:2] :
                    A         B         C         D
2024-01-23 -1.371734 -0.199502 -0.009086  1.235649
2024-01-24  0.567163  0.265720 -0.085676  1.108451
----------------

In [38]:
df.T

   2024-01-23  2024-01-24  2024-01-25  2024-01-26  2024-01-27  2024-01-28
A   -1.371734    0.567163   -0.818023   -0.688619   -0.106537   -1.415315
B   -0.199502    0.265720    1.183095   -2.165838    0.394824    0.693857
C   -0.009086   -0.085676    2.153649    1.276232    0.141892   -0.755891
D    1.235649    1.108451   -0.167537   -1.975716   -0.638468   -1.170347

In [40]:
df.sort_values(by='B')

                   A         B         C         D
2024-01-26 -0.688619 -2.165838  1.276232 -1.975716
2024-01-23 -1.371734 -0.199502 -0.009086  1.235649
2024-01-24  0.567163  0.265720 -0.085676  1.108451
2024-01-27 -0.106537  0.394824  0.141892 -0.638468
2024-01-28 -1.415315  0.693857 -0.755891 -1.170347
2024-01-25 -0.818023  1.183095  2.153649 -0.167537

In [44]:
df[df['A'] > 0]

                   A        B         C         D
2024-01-24  0.567163  0.26572 -0.085676  1.108451

In [49]:
pd.read_csv('my_file.csv')

              id                                              title  year
0          15724                                      Dama de noche  1993
1          23331                                    Pesn o geroyakh  1983
2          31458                           El huésped del sevillano  1970
3          35423                                     Kate & Leopold  2001
4          36606                        Another Time, Another Place  1983
...          ...                                                ...   ...
344271  11169780  Riot Pls: 10th Anniversary Edition - League of...  2019
344272  11170648                                       The Faketrix  2002
344273  11171312                                   Faceless Shadows  2019
344274  11171338                                              Saghi  1970
344275  11171390                                         Kakol-zari  1972

[344276 rows x 3 columns]

In [50]:
df.to_csv('./csv.csv')